manifest:
  defaults:
    revision: v0.3
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    # - name: snoyer
    #   url-base: https://github.com/snoyer
  projects:
    - name: zmk
      remote: zmkfirmware
      import: app/west.yml
    # - name:  zmk-behavior-capslock
    #   remote: snoyer
    #   revision: main
  self:
    path: config
